.bg-carousel-details {
    padding: 120px;
    margin-bottom: 100px;
    font-size: 80px;
    font-weight: 900;
    line-height: 90px;
    -webkit-text-stroke: 3px #c03d13;
}

#brandImg {
    width: 100px;
    height: 50px;
}

#left-container {
    height: 300px;
    width: 400px;
    background-image: url(../images/bg-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;

}

#right-container {
    height: 300px;
    width: 650px;
    background-image: url(../images/bg-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;



}

.left-con-details {
    padding: 60px;
    padding-right: 0;
    margin: 20px 10px 20px 10px;
    text-align: right;

    h4 {
        color: #6f5e4d;
        line-height: 1;
        margin-bottom: 10px;
        font-size: 2.25rem;
        font-weight: 300;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0;
    }

    h5 {
        color: #6f5e4d;
        line-height: 1;
        margin-bottom: 10px;
        font-size: 2.375rem;
        font-weight: 500;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0;
    }
}

.right-con-details {
    padding: 60px;
    padding-right: 0;
    margin: 20px 10px 20px 10px;
    text-align: right;

    h4 {
        color: #6f5e4d;
        line-height: 1;
        margin-bottom: 10px;
        font-size: 2.25rem;
        font-weight: 300;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0;
    }

    h5 {
        color: #6f5e4d;
        line-height: 1;
        margin-bottom: 10px;
        font-size: 2.375rem;
        font-weight: 500;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0;
    }
}

.red-btn {
    margin: 15px 0 0 0;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 13px 32px;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.red-btn:hover {
    color: #e3000e;
    background-color: transparent;
    border-color: #e3000e;

}


.small-con {
    margin: 3px;
}

#burger-card {
    border: 1px solid grey;
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0px 20px 20px 20px;

    h4 {
        font-family: 'Oswald';
    }

    .star-color {
        color: #f7be27;
    }

    p {
        color: #757575;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
    }

    a {
        background-color: #642F21;
        color: #f7be27;
    }
}

#burger-card:hover {
    background-color: #f7be27;

    h4 {
        color: #642f21;
    }

    .star-color {
        color: #fff;
    }

    p {
        color: #fff;
    }

    a {
        background-color: #fff;
        color: #642f21;
    }
}


.image-container img {
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.01);
}

@media screen and (max-width:768px) {
    .left-con-details {
        padding: 0;
        margin-top: 90px;

        h4 {
            font-size: 1.85rem;
            font-family: "Oswald", sans-serif;
        }
    }

    .right-con-details {
        padding: 0;
        margin-top: 90px;

        h5 {
            font-size: 1.85rem;
            font-family: "Oswald", sans-serif;
        }
    }
}

/* Careers, Order Now, Gift Cards */


#left {
    background-image: url(../images/img_15.jpg);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    

}

.mini-left {
    margin-top: 160px;

    h3 {
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size: 2.625rem;
        line-height: 1.3;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0;
    }

    p {
        color: #fff;
        font-size: 1.1875rem;
        font-family: "Roboto", sans-serif;
        margin-bottom: 1rem;
    }

    button {
    
        background-color: #e3000e;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding: 13px 32px;
        border: 1px solid transparent;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        margin-top: -5px;

    }

    button:hover {
        color: #fff;
        border: 1px solid #fff;
    }

}

#middle {
    background-image: url(../images/img_16.jpg);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;

}

#right {
    background-image: url(../images/img_17.jpg);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;

}

.appetizers {
    color: #e3000e;
    font-family: 'Oswald', sans-serif;
    line-height: 1.3;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 38px;
    margin: 0px;
    padding: 0 0 55px 0;


}

.mini-appetizer {
    padding: 0 50px 25px 100px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.3;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;

    p {
        text-transform: none;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 100;
    }

    h4 {
        font-size: 29px;
        padding: 0 0 5px 0;
        color: #333333;
    }

    button {
        border: 0;
        padding: 3px 8px;
        color: #757575;
        background-color: #eaeaea;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
    }

    .doc {
        margin: -16px 0 0 0; 
        text-align: left; 
        padding: 0 0 0 0px;
    }
}

.mini-appetizer:hover {
    button {
        background-color: #ffc107;
        color: black;
    }
}

.padd {
    padding-left: 50px;
}

@media screen and (max-width:768px) {
    .appetizers {
        font-size: 1.8rem;
        padding: 0 0 40px 0;
    }

    .mini-appetizer{
        padding: 0px;
        text-align: center;
        font-size: 20px;
    
    h4 {
        font-size: 20px;
        border: 1px solid blue;
        padding: 0 0 5px 0;
    }

    p {
        font-size: 14.5px;
        border: 1px solid green;
    }

    .doc {
        display: none;
    }
}
    
}